@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --main-color: #00474B;
    --secondary-color: #26C0AD;
}

body {
    background-color: #C5E4E7;
    font-family: 'Space Mono';
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    height: 700px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.select_percent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calc_elems {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calc_elems h4 {
    margin-bottom: 15px;
    color: #6D8183;
}

.amount-side,
.people-count {
    position: relative;
}

.amount-side i,
.people-count i {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 15px;
    color: #A9BDBE;
}

.calcBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.input input{
    padding: 10px;
}
.percent{
    padding: 10px;
}
.select_percent input {
    text-align: center;
    transition: .4s;
}

.select_percent input:hover {
    background: #9FE8DF;
    cursor: pointer;
}

input {
    text-align: right;
    color: var(--main-color);
    font-weight: bold;
}

.input {
    margin: 10px;
}

.input input {
    width: -webkit-fill-available;
    height: 40px;
    font-size: 28px;
}

#custom_input::placeholder {
    color: var(--main-color) !important;
}

#custom_input {
    background: #fff;
    border-color: #80C3BC;
    color: var(--main-color);
}

.value {
    width: 100% !important;
    font-size: 25px;
    color: #fff;
    font-weight: bold;
    background: var(--main-color);
}

.active {
    background-color: #26C2AD;
    color: var(--main-color);
}




.results {
    background: var(--main-color);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    color: white;
}

.tip_amount span,
.total span {
    color: #4F7F84;
}

.tip_amount,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}


#reset {
    background: var(--secondary-color);
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: none;
    width: -webkit-fill-available;
    padding: 10px;
}
#reset:disabled{
    background: #0D686D;
    color: #035C62;
}