:root {
    --main-color: #00474B;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gap{
    gap: 6px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}


.calc_elems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.calcBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


input{
    text-align: right;
}


.input{
    margin: 10px;
}

#custom_input {
    background: #fff;
    border-color: #80C3BC;
    color: var(--main-color);
}

.value {
    width: 100% !important;
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    background: var(--main-color);
}

.active {
    background-color: #9FE8DF;
    color: var(--main-color);
}

#calc,
#reset {
    background: blue;
    border-radius: 25px;
    color: white;
    border: none;
    padding: 10px;
}

